@media(max-width:900px){
    .layercenterpadding{
     width: 100%;
    }
    .cardpad{
        width: 80%;
    }
    .cardpad-focus{
        width: 80%;
     }
     .label-success{
        background: var(--greenstate);
        max-width: 100%;
        margin: auto;   
    }

    .videoflow{
        max-width: 100%;
    }
.layercenterpaddingmain{
    padding: 20px;
    width: 90%;
    margin: auto;
}
}

@media(max-width:500px){
    .cardpad{
        width: 100%;
    }

    .videoflow{
        max-width: 100%;
    }
    .cardpad-focus{
       width: 100%;
    }
    .label-success{
        background: var(--greenstate);
        max-width: 100%;
        margin: auto;   
    }

.layercenterpaddingmain{
    padding: 20px;
    width: 100%;
    margin: auto;
}
}