@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Gabriela&display=swap');
:root{
    --backgroundstate: #03B3D6;
    --greenstate: #12BA12;
    --redstate: #E30000;
    --yellowstate: #FFBF00;
    --orangestate: #FF6200;
    --whitestate: #ffffff;
    --hoversim: #f1f1f1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-style: thin;
    font-weight: 400;
    overflow: hidden;
}

.header-brand {
    font-family: "Gabriela", serif;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(40px, 2vw, 50px);
  }

  .btn-state{
    padding: 15px;
    width: 200px;
    border-radius: 12px;
    border: none;
    background: var(--orangestate);
    color: var(--whitestate);
    cursor: pointer;
  }


  .btn-state-disabled{
    min-width: 150px;
    border-radius: 12px;
    border: none;
    background: var(--hoversim);
    color: var(--whitestate);
  }

  .btn-state:hover{
    background-color: #e45801;
  }
  

.pos-absolute{
 position: absolute;
}
.pos-relative{
    position: relative;
}

.relative-slide{
   position: relative;
   height: 100vh;
   overflow-y: auto;
}
.first-slide{
   position: fixed;
   z-index: 99;
   width: 100%;
   flex: 20;
   height: 10vh;
   background: var(--whitestate);
}
.second-slide{
    padding-top: 100px;
    flex: 80;
    height: 80vh;
    background: var(--whitestate);
    width: 100%;
    position: relative;
    overflow-y: auto;
}
.second-slide::before{
    content: '';
    height: 1px;
    width: 100%;
    background-color: #000;
    position: absolute;
}
.statecenter{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
    align-items: center;
    text-align: center;    
    z-index: 999;
}
.mb-5{
    padding-bottom: 20px;
}
.resetphase{
    cursor: pointer;
}

.third-slide{
   z-index: 99;
   position: fixed;
   flex: 10;
   width: 100%;
   height: 100vh; 
   background-color: var(--whitestate);
   padding:20px;
}
.d-flex{
 display: flex;
}
.justify-content-between{
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.padding-20x{
    padding: 20px;
}
.img-logo{
    width: 60px;
    height: 60px;
}   
.fs-1{
    font-size: 16px;
}
.gap-20{
    gap: 20px;
}
.href-state{
    font-size: 12px;
}
.relative-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.layer{
    width: 100%;
}
.layertop, .layerbetween, .layerbottom{
    height: 10vh;
    left: 0;
    right: 0;
    z-index: 99;
    position: fixed;
}
.layertop{
    top: 0;
}
.layerbetween{
    top: 10vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.layercenter{
    position: absolute;
    top: 20vh;
    bottom:10vh;
    overflow-y: auto;
    width: 100%;
    margin: auto;
    text-align: center;
}
.layerbottom{
    bottom: 0;
}
.layerpaddingbottom{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
}
.phone-input{
    display: flex;
    gap: 2px;
    margin-bottom: 12px;
}
.selectguard{
    width: 10%;
    border-radius: 8px;
}
.inputguard{
    width: 90%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #f1f1f1;
}
.inputguard:focus{
border: 1px solid #f1f1f1;
outline: 1px solid #f1f1f1;
}

.layercenterpadding{
    padding: 20px;
    width: 60%;
    margin: auto;
}

.layercenterpaddingmain{
    padding: 20px;
    width: 30%;
    margin: auto;
}

.padding-state{
    gap: 20px;
    padding-bottom: 20px;
}
.btn-pafa{
    padding: 15px;
    min-width: 150px;
    border-radius: 12px;
    border: none;
    background: var(--orangestate);
    color: var(--whitestate);
    cursor: pointer;
}

.btn-pafa-disabled{
    padding: 15px;
    min-width: 150px;
    border-radius: 12px;
    border: none;
    background: var(--hoversim);
    color: var(--whitestate);
    cursor: pointer;
}

.cardpad{
    padding: 20px;
    width: 40%;
    margin: auto;
    background: var(--hoversim);
    border-radius: 10px;
    cursor: pointer;
}
.cardpad-focus{   
    padding: 20px;
    width: 40%;
    margin: auto;
    background: var(--greenstate);
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}
.form-control{
    border: 1px solid #f1f1f1!important;
    outline: none;
}
.form-control:focus, .form-control:hover{
    border: 1px solid #f1f1f1!important;
    outline: none;
}
.font-level{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.label-success{
    background: var(--greenstate);
    max-width: auto;
    margin: auto;   
}
.videoflow{
    min-width: 100%;
}

/* video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-current-time-display {
    display: none !important;
} */

video::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-current-time-display{
    display: none;
}
.linkstate{
    color: #000;
    text-decoration: none;
}


